.full{
  width: 100%!important;
  height: auto;
  padding: 20px 0 0!important;
  margin-top: -45px!important;
  @media screen and (max-width: 320px) {
    height:480px!important;
  }
}
.relative{
  position: relative;
}
.e-divider.thin{
  height: 1px!important;
}
.adjust-filter-close{
  position: absolute!important;
  right: 0;
  top: -4px;
  font-size: 20px!important;
  margin: 0!important;
  padding: 0!important;
}
.adjust-divider{
  width: 90%!important;
  margin-left: 18px!important;
}
.btn-bkg-color{
  background-color: #FAFAFA!important;
}
.filter-ul{
  li {
    @media screen and (max-width: 320px) {
      height:40px!important;
    }
  }
  .content{
    color: #0C0C0C!important;
    font-weight: 600;
    @media screen and (max-width: 320px) {
      line-height:22px!important;
      label {
        padding-left: 50px;
        margin-top: 9px;
      }
    }
    @media screen and (min-width: 325px) and (max-width: 425px) {
      line-height:22px!important;
      label {
        padding-left: 50px;
        margin-top: 15px;
      }
    }
  }
}
.nav-ul{
  li {
    @media screen and (max-width: 320px) {
      height:40px!important;
    }
  }
  width: 93%!important;
  padding-left: 4px!important;
  .content{
    color: white!important;
    font-weight: 100;
    @media screen and (max-width: 320px) {
      line-height:22px!important;
    }
  }
}
.padding-left-20{
  padding-left: 20px;
}
